<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myHEALTHwareDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myHEALTHwareDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <myHEALTHwareDesktop.Properties.Settings>
            <setting name="RunAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderToDriveLocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderToDriveDestinationId" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionId" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderToDriveDeleteFileAfterUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedAccountId" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderToDriveRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintToDriveDefaultDestinationId" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintToDrivePrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintToFaxPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstUse" serializeAs="String">
                <value>True</value>
            </setting>
        </myHEALTHwareDesktop.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <myHEALTHwareDesktop.Properties.Settings>
            <setting name="sdkTimeOutSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="myHEALTHwareDomain" serializeAs="String">
                <value>https://myhealthware.com</value>
            </setting>
        </myHEALTHwareDesktop.Properties.Settings>
    </applicationSettings>
</configuration>